<div class="page-wrap">
	<mat-card class="container">
		<form [formGroup]="loginForm">
			<mat-form-field>
				<input matInput placeholder="Email Address" formControlName="email" type="email" required>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="password" placeholder="Password" formControlName="password" required>
			</mat-form-field>
			<div class="text-center flex-center remember-me mat-typography">
				<button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="login" (click)="login()">LOG IN</button>
      	<mat-checkbox class="text-center mat-typography" formControlName="remember">Remember Me</mat-checkbox>
      </div>
<br/>
      <div class="flex-center" mat-typography>
				<a mat-button (click)="signUp" routerLink="/registration" color="primary" href="">Sign Up</a>
        <a mat-button (click)= "Password" routerLink="/forgot"color="primary" href="">Forgot Password</a>
			</div>
		</form>
	</mat-card>

</div>